@font-face {
    font-family: "lovelo";
    src: url("../fonts/lovelo_black-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
$bordercolor:rgba(218, 218, 218, 0.5);

    ul{
        list-style: none;
    }

    .horizontal_ul{
        li{
            float: left;
        }
    }
    .uppercase{
        text-transform: uppercase;
    }
    .mybtn{
        border: none;
        color: black;
        padding: 10px 26px;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        font-family: "lovelo";
        outline-width: 0;
        font-size: 11px;
        -webkit-box-shadow: 2px 4px 21px 0px rgba(148,148,148,1);
        -moz-box-shadow: 2px 4px 21px 0px rgba(148,148,148,1);
        box-shadow: 2px 4px 21px 0px rgba(148,148,148,1);
        background-color: #fff;

        &:active{
            position:relative;
            top:2px;
            outline-width: 0;
        }
        &:hover{
            box-shadow: none;
            outline-width: 0;
        }
    }
        .btn-orange{
            background-image: linear-gradient(#FF9853 , #FF6B04);
            color: #fff;
            &:hover{
                background-image: linear-gradient(rgb(255, 102, 0) , #FF6B04);
                transition: 0.4s ease-in-out;
            }
        }

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: 0;
        outline-offset: 0;
    }

    input[type=search] {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #EBEBEB;
        border-radius: 4px;
        color: rgba(34, 34, 34, 0.897);
        font-size: 16px;
        background-color: white;
        background-image: url('../assets/search-solid.svg');
        background-size:24px;
        background-position: 158px 11px; 
        background-repeat: no-repeat;
        padding: 10px 20px 10px 14px;
        border-radius:20px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        outline-width: 0;
        cursor: text;
    }

    input[type=search]:active {
        background-color: rgb(194, 226, 198);
    }

    .navbar{
        padding-top: 20px;
        margin-bottom: 10px;
        ul{
            float: right;
            display: flex;
            align-items: center;
            li{
                padding-left: 30px;
            }
        }
        .user{
            font-weight: bold;
            font-size: 12px;
            &:before{
                font-family: 'FontAwesome';
                content: "\f007";
                padding-right: 3px;
                font-weight: 400;
                height: 10px;
            }
        }
        .shopping_cart{
            font-weight: bold;
            font-size: 12px;
                &:before{
                    font-family: FontAwesome;
                    content: "\f07a";
                    padding-right: 3px;
                    font-weight: 400;
                    height: 10px;
            }
        }
    }
    .slogan{
        position: relative;
        font-size: 11px;
        color: rgb(180, 180, 180);
        margin-bottom: 20px;
        margin-left: 30px;
        span{
            background-color: white;
            padding-right: 10px;
        }
        &:after{
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 9px;
            border-top: 1px solid rgba(180, 180, 180, 0.466);
            z-index: -1;
        }
    }

    .nav-products{
        font-family: "Lovelo";
        position: relative;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin: 40px 0;
        li{
            padding-right: 20px;
            background-color: white;
            padding-left: 20px;
            cursor: pointer;
            &:nth-child(2){
                padding:0 60px;
                color: #AAAAAA;
                &:hover{
                    color: #000;
                }
            }
            &:nth-child(3){
                color: #AAAAAA;
                &:hover{
                    color: #000;
                }
            }
        }

        span{
            background-color: white;
            padding-right: 10px;
            padding-left: 10px;

        }
        &:after{
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 13px;
            border-top: 1px solid rgba(180, 180, 180, 0.466);
            z-index: -1;
        }
    }

    .categories{
        padding-left: 0;
        li{
            margin-right: 40px;
            font-family: "Lovelo";
            &:hover{
                cursor: pointer;
            }
        }
        padding-bottom: 35px;
    }

    .arrow:after{
        font-family: FontAwesome;
        content: "\f0ab";
        padding-left: 5px;
    }

    #jumbotron{
        display: block;
        overflow: auto;
        background-color: #E0DDD6;
        position: relative;
        padding-top: 20px;
        .frame{
            display: flex;
            flex-direction: row;
            height: auto;
            margin: 30px  0 30px 30px;
            padding: 70px;
            border: 4px solid #ECECE4;

            border-right: 0;

        }
        .width-mod{
            width: 40%;
        }
        img{
            right: 100px;
            max-width: 100%;
            max-height: 99%;
            object-fit: contain;
            position: absolute;
            bottom:0;
        }
        h2{
            font-family: "lovelo";
            color: white;
            font-size: 50px;
        }
        p{
            color: rgb(124, 124, 124);
        }
        .mybtn{
            margin-top: 30px!important;
            background-color: #fff;
        }
    }
#latest{
    height: max-content;
    font-family: "lovelo";
    p{
        text-align: center;
        margin-top: 10px;
        padding-top: 0px;
    }
    .row>div{
        border: 1px solid rgba(180, 180, 180, 0.466);
        padding: 25px;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#products{
    .main-tile{
            &__price{
                display: inline;
                font-family: Lovelo;
                font-size: 17px;
            }
            &__caption{
                margin-top: 50px;
            }
            &__img{
                height: 313px;
                background-repeat: no-repeat;
                background-position:center;
                &:after{
                    content:"";
                    position: absolute;
                    bottom: 85px;
                    left: 0;
                    right: 0;
                    width: 80%;
                    border-bottom: 1px solid rgba(180, 180, 180, 0.466);
                }
            }
            &__img-1{
                background-image: url("../assets/red_jacket.png");
            }
            &__img-2{
                background-image: url("../assets/beige_jacket.png");
            }
            &__img-3{
                background-image: url("../assets/green_jacket.png");
            }
            &__img-4{
                background-image: url("../assets/blue_jacket.png");
            }
            &__desc{
                color: #9F9F9F;
                margin-top: 5px;
            }
        }
        .btn-change{
            padding: 1px 13px;
            font-size: 15px;
            margin-left: 20px;
            box-shadow: none;
            border: 1px dashed rgb(50, 50, 53);
            &:hover{
                background: rgba(252, 0, 0, 0.089);
            }
            &:nth-child(2):hover{
                background-color: rgba(0, 255, 34, 0.082);
            }
        }
        .btn-seemore{
            margin: 50px auto;
            display: block;
            &:hover{
                box-shadow: 2px 4px 21px 0px #284B63;
            }
        }
}

footer{
    .container{
        padding: 20px;
        border: 1px solid $bordercolor;
        .payment{
            font-size: 13px;
            color: #BEBEBE;
        }
    }
    h4{
        text-transform: uppercase;
        font-family: "Lovelo";
        font-size: 15px;
        padding-bottom: 10px;
    }
    ul{
        padding-left: 2px;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        li{
            margin-bottom: 10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    form>input{
        box-sizing: border-box;
        border: 1px solid $bordercolor;
        border-radius: 4px;
        // color: rgba(17, 17, 17, 0.133);
        font-size: 16px;
        background-color: white;
        // padding: 10px 20px 10px 14px;
        border-radius: 20px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        outline-width: 0;
        cursor: text;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    .phone{
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #A7A7A7;
    }
}

.footer-bottom{
    font-size: 12px;
    color: #AAAAAA;
    line-height: 8px;
    margin-top: 30px;
    padding-left: 25px;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #284B63;
    text-align: right;
    display: none;
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 576px) {
    header{
        .navbar{
            ul{
                flex-direction: column;
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
    #jumbotron{
        h2{
            font-size: 30px;
        }
        .frame{
            padding:35px;
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 768px) {

    ul{
        padding-inline-start: 0;
    }
    .navbar img{
        margin: auto;
        left: 0;
        right: 0;
    }

    .arrow:after{
        content: "";
    }

    .toggle{
        display: block;
    }
    .ham_menu{
        margin-left: -15px; /*container width remove*/
        margin-right: -15px;
        i{
            color: #fff;
            cursor: pointer;
        }
        ul{
            display: none;

            li{
                display: block;
                clear: both;
                text-align: center;
                line-height: 30px;
                width: 100%;
                background: #F7F4EA;
                a{
                    color: #284B63;
                }
            }
        }
        .active{
            display: block;
        }
        }
    #jumbotron{
        img{
            display: none;
        }
        .width-mod{
            width: 100%;
        }
        .frame{
            display: flex;
            flex-direction: row;
            height: auto;
            margin: 30px;
            padding: 70px;
            border: 4px solid #ECECE4;
        }
    }
    .nav-products {
        li{
            font-size: 13px;
            &:nth-child(2){
                padding: 0 15px;
            }
        }
    }
    #products{
        .main-tile{
            &__img:after{
                width: 100%;
            }
            &__caption{
                text-align: center;
            }
        }
        div>.row{
            margin-top: 20px;
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media screen and (max-width: 992px) {
    body .navbar ul li {
        padding-left: 15px;
    }

    #jumbotron{
        img{
            height: 70%;
            right: 20px;
        }
    }

    footer{
        .col-sm-12{
            margin-bottom: 20px;
        }
    }
 }

@media screen and (min-width: 1200px) {
    body #latest .f_left{
        float: left;
        align-items: center;
        padding-top: 36px;
        padding-right: 20px;
    }
}